<div class="container w-75">
<h3 class="text-center">Gerenciador de Transferências Bancárias</h3>
<h4 class="text-center">Lista de Contas</h4>
<p>
<p>
  <div class="btn mt-2">
<button routerLink="/add" type="button" class="btn1 my-1">Cadastrar</button>
</div>
<p>
<table class="table table-striped mt-4 text-center">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Cliente</th>
      <th scope="col">Valor</th>
      <th scope="col">Conta</th>
      <th scope="col">Editar</th>
      <th scope="col">Excluir</th>
    </tr>
  </thead>
  <tbody>
    <!-- Sintaxe para popular os dados do backend -->
    <tr *ngFor = "let item of ListarContas">
      <th>{{item.id_transferencia}}</th>
      <td>{{item.nomeCliente}}</td>
      <td>{{item.valor}}</td>
      <td>{{item.contaCliente}}</td>
      <td>
        <button (click)="editar(item.id_transferencia)" type="button" class="btn btn-primary">Editar</button>
      </td>
      <td>
        <button (click)="excluir(item.id_transferencia)" type="button" class="btn btn-danger">Excluir</button>

      </td>
    </tr>
  </tbody>
</table>
</div>


